.portfolioDesktop {
	&-container {
		padding: 30px 38px;
		background-color: #231f20;
		border-radius: 15px;
		display: grid;
		grid-template-columns: 30% 30% 30%;
		grid-template-rows: 50% 50%;
		height: 100vh;
		width: 83vw;
	}
	&-overlay {
		display: flex;
		height: 100%;
		width: 100%;
		padding: 20px;
		transition: background-color 0.2s linear;
		&:hover {
			background-color: #0000005d;
			h1 {
				transition: all 0.2s linear;
				margin-bottom: 5px;
			}
		}
	}
}

.portfolio-proyect {
	margin: 10px;
	color: white;
	text-decoration: none;
	overflow: hidden;
	border-radius: 13px;
	h1 {
		align-self: flex-end;
		font-size: 24px;
		font-weight: 500;
		p {
			font-weight: 400;
			font-size: 20px;
		}
	}
}
.grid-item-0 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.grid-item-1 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.grid-item-2 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.grid-item-3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.grid-item-4 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.grid-item-5 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
