.proyect-ventana {
	height: 35vh;
}
.proyect-container {
	background-color: #231f20;
	text-align: left;
	padding: 20px 28px;
	border-radius: 15px;
	.proyect-title,
	.proyect-subtitle {
		color: white;
	}
	.proyect-subtitle {
		font-weight: 400;
	}
	& > p {
		margin-top: 3px;
		color: #a87c50;
	}
}
