.proyect-ventana {
	height: 50vh;
}
.proyect-container {
	background-color: #231f20;
	text-align: left;
	padding: 20px 20px;
	border-radius: 15px;
	.proyect-title,
	.proyect-subtitle {
		color: white;
	}
	.proyect-subtitle {
		font-weight: 400;
	}
	p {
		color: #a87c50;
		margin-top: 15px;
		margin-bottom: 40px;
	}
}
