.proyect-ventana {
	height: 50vh;
}
.proyect-container {
	background-color: #231f20;
	text-align: left;
	padding: 20px 15px;
	border-radius: 15px;
	h1,
	h2,
	h3 {
		color: white;
	}
	p {
		color: #a87c50;
	}
}
