.open-icon {
	padding: 2px 2px 2px 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	border: 2px solid white;
	border-radius: 50%;
	height: 24px;
	margin-right: 22px;
	transition: all 0.3s ease;

	&-img {
		width: 90%;
		height: 90%;
		transition: all 0.3s ease;
		&.expanded {
			filter: invert(1);
			transform: rotate(90deg);
			transition: all 0.3s ease;
		}
	}
	&.expanded {
		padding: 2px 2px 2px 2px;
		transition: all 0.3s ease;
		border: none;
		background-color: white;
	}
}
